doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width')
  title Spelling Bee
  link(href='stylesheets/spellStyle.css' rel='stylesheet' type='text/css')
#top
    h1#title Spelling Bee
    p#instructions Find words which include the center letter
#game
  h2#textBox
  script(src='javascripts/spellScript.js')
  #grid
ul#list
